# 1. Data

In [1]:
# using Pkg
# Pkg.add("DataFrames")
using CSV
using DataFrames
using ForwardDiff
using LinearAlgebra
using Optim

using Random
using Statistics

In [7]:
df = DataFrame()
df = CSV.read("ps3clean.csv", DataFrame)

2636×21 DataFrame
  Row │ Data NuEer  bidder  house   date   lot     profit    Net  Payment  ran ⋯
      │ Int64       Int64   String  Int64  String  Float64   Float64       Int ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │          1       1  A       35360  217     150.0        -150.0         ⋯
    2 │          2       2  A       35360  217     150.0         150.0
    3 │          3       1  A       35360  218       0.0           0.0
    4 │          4       1  A       35360  220       0.0           0.0
    5 │          5       1  A       35360  222       0.0           0.0         ⋯
    6 │          6       1  A       35360  350       0.0           0.0
    7 │          7       2  A       35360  350       0.0           0.0
    8 │          8       3  A       35360  350       0.0           0.0
    9 │          9       1  A       35360  351       0.0           0.0         ⋯
   10 │         10       1  A       35360  352       0.0           0.0
   11 │         11       2  A       35360  353      65.0         -65.0
  ⋮   │     ⋮         ⋮       ⋮       ⋮      ⋮        ⋮           ⋮          ⋮ ⋱
 2627 │       4155       7  F1      35500  1183    462.5        -462.5
 2628 │       4156       4  F1      35500  1183    295.833       295.833       ⋯
 2629 │       4157       1  F1      35500  1183    145.833       145.833
 2630 │       4158       2  F1      35500  1183     20.8333       20.8333
 2631 │       4159       3  F1      35500  1184      0.0           0.0
 2632 │       4160       5  F1      35500  1184      0.0           0.0         ⋯
 2633 │       4161       6  F1      35500  1184      0.0           0.0
 2634 │       4162       4  F1      35500  1184      0.0           0.0
 2635 │       4163       1  F1      35500  1184      0.0           0.0
 2636 │       4164       2  F1      35500  1184      0.0           0.0         ⋯
                                                14 columns and 2615 rows omitted

In [10]:
names(df)
# println(minimum(df[:,1]))
# println(maximum(df[:,1]))

21-element Array{String,1}:
 "Data NuEer"
 "bidder"
 "house"
 "date"
 "lot"
 "profit"
 "Net  Payment"
 "rank"
 "realisation in final auAtion"
 "bid"
 "EstDated MinDum"
 "EstDated MaxDum"
 "Aatalog PriAe"
 "Aatalog Du10y"
 "EstDate Min"
 "EstDate Max"
 "Grade Min "
 "Grade Max"
 "No Grade"
 "ExAlusively US"
 "No Value"