# 1. Data

In [1]:
# using Pkg
# Pkg.add("DataFrames")
using CSV
using DataFrames
using ForwardDiff
using LinearAlgebra
using Optim

using Random
using Statistics

In [123]:
df = DataFrame()
df = CSV.read("ps3clean.csv", DataFrame)

2636×21 DataFrame
  Row │ Data NuEer  bidder  house   date   lot     profit    Net  Payment  ran ⋯
      │ Int64       Int64   String  Int64  String  Float64   Float64       Int ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │          1       1  A       35360  217     150.0        -150.0         ⋯
    2 │          2       2  A       35360  217     150.0         150.0
    3 │          3       1  A       35360  218       0.0           0.0
    4 │          4       1  A       35360  220       0.0           0.0
    5 │          5       1  A       35360  222       0.0           0.0         ⋯
    6 │          6       1  A       35360  350       0.0           0.0
    7 │          7       2  A       35360  350       0.0           0.0
    8 │          8       3  A       35360  350       0.0           0.0
    9 │          9       1  A       35360  351       0.0           0.0         ⋯
   10 │         10       1  A       35360  352       0.0           0.0
   11 │         11       2  A       35360  353      65.0         -65.0
  ⋮   │     ⋮         ⋮       ⋮       ⋮      ⋮        ⋮           ⋮          ⋮ ⋱
 2627 │       4155       7  F1      35500  1183    462.5        -462.5
 2628 │       4156       4  F1      35500  1183    295.833       295.833       ⋯
 2629 │       4157       1  F1      35500  1183    145.833       145.833
 2630 │       4158       2  F1      35500  1183     20.8333       20.8333
 2631 │       4159       3  F1      35500  1184      0.0           0.0
 2632 │       4160       5  F1      35500  1184      0.0           0.0         ⋯
 2633 │       4161       6  F1      35500  1184      0.0           0.0
 2634 │       4162       4  F1      35500  1184      0.0           0.0
 2635 │       4163       1  F1      35500  1184      0.0           0.0
 2636 │       4164       2  F1      35500  1184      0.0           0.0         ⋯
                                                14 columns and 2615 rows omitted

In [124]:
println(names(df))
# println(minimum(df[:,1]))
# println(maximum(df[:,1]))
df."house"
df[!, ["bidder", "house", "lot", "Net  Payment", "realisation in final auAtion", "bid", "rank"]]

# Target auction = "realisation in final auAtion"
# Knockout auction = bid

["Data NuEer", "bidder", "house", "date", "lot", "profit", "Net  Payment", "rank", "realisation in final auAtion", "bid", "EstDated MinDum", "EstDated MaxDum", "Aatalog PriAe", "Aatalog Du10y", "EstDate Min", "EstDate Max", "Grade Min ", "Grade Max", "No Grade", "ExAlusively US", "No Value"]

2636×7 DataFrame
  Row │ bidder  house   lot     Net  Payment  realisation in final auAtion  bi ⋯
      │ Int64   String  String  Float64       Int64                         In ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │      1  A       217        -150.0                             5200   8 ⋯
    2 │      2  A       217         150.0                             5200   5
    3 │      1  A       218           0.0                             1000
    4 │      1  A       220           0.0                             1500   1
    5 │      1  A       222           0.0                             4800   4 ⋯
    6 │      1  A       350           0.0                             2200   2
    7 │      2  A       350           0.0                             2200   1
    8 │      3  A       350           0.0                             2200   1
    9 │      1  A       351           0.0                             1400     ⋯
   10 │      1  A       352           0.0                              200
   11 │      2  A       353         -65.0                              420
  ⋮   │   ⋮       ⋮       ⋮          ⋮                     ⋮                   ⋱
 2627 │      7  F1      1183       -462.5                              375   1
 2628 │      4  F1      1183        295.833                            375   1 ⋯
 2629 │      1  F1      1183        145.833                            375   1
 2630 │      2  F1      1183         20.8333                           375
 2631 │      3  F1      1184          0.0                             3750   3
 2632 │      5  F1      1184          0.0                             3750   2 ⋯
 2633 │      6  F1      1184          0.0                             3750   2
 2634 │      4  F1      1184          0.0                             3750   2
 2635 │      1  F1      1184          0.0                             3750   1
 2636 │      2  F1      1184          0.0                             3750     ⋯
                                                 2 columns and 2615 rows omitted

In [171]:
# Add number of bidders in ring to dataframe
df."num_bidders" = zeros(size(df,1))

for i in 1:size(df,1)
    # Get house
    h = df[i,"house"]
    # Get lot
    l = df[i,"lot"]
    # Get date
    d = df[i,"date"]
    # Get target price
    r = df[i,"realisation in final auAtion"]
    
    # Find max rank, which tells how many bidders
#     df[i, "num_bidders"] = maximum(df[(isequal.(df."house", h) 
#                 .& isequal.(df."lot", l) 
#             .& isequal.(df."date", d) .& isequal.(df."realisation in final auAtion", r))
#             , :]."rank")
    df[i, "num_bidders"] = size(df[(isequal.(df."house", h) 
                .& isequal.(df."lot", l) 
            .& isequal.(df."date", d) .& isequal.(df."realisation in final auAtion", r))
            , :], 1)
end

In [182]:
# h = df[isequal.(df."house", "A"), :]

# tar_str = "realisation in final auAtion"


# mean(h."bid")
# mean(df."bid")

table_1 = DataFrame(House = [], 
    Target_m = [], Target_sd = [],
    Knock_m = [], Knock_sd = [],
    Percent_won = [], Percent_val_won = [],
    Total_lots = []
)

hs = unique(df."house")

tot_wins = 0
tot_value_win = 0

tot_lots = 0
tot_value_lots = (sum(df."EstDated MaxDum") + sum(df."EstDated MinDum"))/2

for h in hs
    d = df[isequal.(df."house", h), :]
#     println(size(d))
    tar_m = mean(d."realisation in final auAtion")
    tar_sd = std(d."realisation in final auAtion")
    
    kn_m = mean(d."bid")
    kn_sd = std(d."bid")
    
    wins = 0
    value_win = 0
    
    for i in 1:size(d,1)
        if d[i,"bid"] >= d[i, "realisation in final auAtion"] && (d[i,"rank"] == 1)
            wins += 1
            tot_wins += 1
            value_win += (d[i, "EstDated MaxDum"] + d[i, "EstDated MinDum"])/2
            tot_value_win += (d[i, "EstDated MaxDum"] + d[i, "EstDated MinDum"])/2
        end
    end
    
#     lots = length(unique(d."lot"))
    lots = 0 
    for dat in unique(d."date")
        dd = d[isequal.(d."date", dat), :]
        for r in unique(dd."realisation in final auAtion")
            ddr = dd[isequal.(dd."realisation in final auAtion", r), :]
            lots += length(unique(ddr."lot"))
        end
    end
    
    
    tot_lots += lots
    value_lots = (sum(d."EstDated MaxDum") + sum(d."EstDated MinDum"))/2
    
    per_won = wins/lots
    per_val = value_win/value_lots
    
    push!(table_1, [h, tar_m, tar_sd, kn_m, kn_sd, per_won, per_val, lots])
    
end

push!(table_1, ["Agg", 
        mean(df."realisation in final auAtion"), std(df."realisation in final auAtion"),
        mean(df."bid"), std(df."bid"),
        tot_wins/tot_lots, tot_value_win/tot_value_lots,
        tot_lots])

println(sum(table_1."Total_lots"[1:6]))
table_1

859

7×8 DataFrame
 Row │ House  Target_m  Target_sd  Knock_m  Knock_sd  Percent_won  Percent_val ⋯
     │ Any    Any       Any        Any      Any       Any          Any         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ A      1530.62   1571.68    1111.54  1560.45   0.275862     0.256524    ⋯
   2 │ B      1174.46   1606.27    1330.36  2756.7    0.648649     0.211548
   3 │ C      1388.4    1932.83    1383.76  2269.85   0.627119     0.171611
   4 │ D      1424.0    1583.67    1326.64  1757.03   0.457516     0.294906
   5 │ E      3140.53   2918.24    4219.53  4825.89   0.866142     0.174664    ⋯
   6 │ F1     2036.29   3057.3     1941.04  3706.33   0.48         0.166255
   7 │ Agg    1881.2    2426.93    2105.95  3423.06   0.604191     0.18629
                                                               2 columns omitted

In [185]:
table_2 = DataFrame(Num_bidders = [], 
    Target_m = [], Target_sd = [],
    Knock_m = [], Knock_sd = [],
    Percent_won = [], Total_lots = []
)

ns = sort(unique(df."num_bidders"))

for n in ns
    d = df[isequal.(df."num_bidders", n), :]
    
    tar_m = mean(d."realisation in final auAtion")
    tar_sd = std(d."realisation in final auAtion")
    
    kn_m = mean(d."bid")
    kn_sd = std(d."bid")
    
    wins = 0
    
    for i in 1:size(d,1)
        if d[i,"bid"] >= d[i, "realisation in final auAtion"] && (d[i,"rank"] == 1)
            wins += 1
        end
    end
    
    lots = 0
    
    for h in hs
        dh = d[isequal.(d."house", h), :]
        lots += length(unique(dh."lot"))
    end
    
#     lots = length(unique(d."lot"))
    
    per_won = wins/lots
    
    push!(table_2, [n, tar_m, tar_sd, kn_m, kn_sd, per_won, lots])
    
end

table_2
# sum(table_2[:,"Total_lots"])

8×7 DataFrame
 Row │ Num_bidders  Target_m  Target_sd  Knock_m  Knock_sd  Percent_won  Total ⋯
     │ Any          Any       Any        Any      Any       Any          Any   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 1.0          566.779   861.982    496.914  898.713   0.292308     260.0 ⋯
   2 │ 2.0          990.819   1800.16    946.208  2799.54   0.598639     147.0
   3 │ 3.0          1221.42   1508.21    1082.78  1605.29   0.677165     127.0
   4 │ 4.0          2029.59   2815.19    2185.52  4351.71   0.779817     109.0
   5 │ 5.0          1754.94   2319.16    1861.33  3157.45   0.835443     79.0  ⋯
   6 │ 6.0          2327.45   3120.89    2643.12  3934.17   0.890909     55.0
   7 │ 7.0          2722.16   2035.6     3447.77  2971.75   0.960784     51.0
   8 │ 8.0          4290.48   2501.43    5500.92  4009.06   0.952381     21.0
                                                                1 column omitted

In [120]:
# df."num_bidders" = zeros(size(df,1))

# # it = 0
# # for h in hs
# #     d = df[isequal.(df."house", h), :]
# #     ls = unique(d."lot")
# #     for l in ls
# #         dl = d[isequal.(d."lot", l), :]
# #         nb = maximum(dl."rank")
# # #         println(nb)
# # #         it += 1
# #         df[isequal.(df."house", h) .& isequal.(df."lot", l), :]."num_bidders" .= nb
# #     end
# # end


# for i in 1:size(df,1)
#     h = df[i,"house"]
#     l = df[i,"lot"]
    
# #     println(l)
#     df[i, "num_bidders"] = maximum(df[isequal.(df."house", h) .& isequal.(df."lot", l), :]."rank")
# #     println(df[i,"num_bidders"])
    
# end

# # df."num_bidders"
# # println(it)
# df[!, ["bidder", "house", "lot", "realisation in final auAtion", "bid", "rank", "num_bidders"]]
# sort(unique(df."num_bidders"))

8-element Array{Float64,1}:
 1.0
 2.0
 3.0
 4.0
 5.0
 6.0
 7.0
 8.0

In [184]:
# Filter out auctions with more than two ring bidders
dff = df[df."num_bidders" .== 1, :]
# maximum(dff)
# size(df)

267×22 DataFrame
 Row │ Data NuEer  bidder  house   date   lot     profit   Net  Payment  rank  ⋯
     │ Int64       Int64   String  Int64  String  Float64  Float64       Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │          3       1  A       35360  218         0.0           0.0      1 ⋯
   2 │          4       1  A       35360  220         0.0           0.0      1
   3 │          5       1  A       35360  222         0.0           0.0      1
   4 │          9       1  A       35360  351         0.0           0.0      1
   5 │         10       1  A       35360  352         0.0           0.0      1 ⋯
   6 │         14       2  A       35360  354         0.0           0.0      1
   7 │         64       2  A       35360  377         0.0           0.0      1
   8 │         70       1  A       35360  380         0.0           0.0      1
   9 │        179       2  B       35409  1863        0.0           0.0      1 ⋯
  10 │        180       1  B       35409  1864        0.0           0.0      1
  11 │        203       4  B       35409  1871        0.0           0.0      1
  ⋮  │     ⋮         ⋮       ⋮       ⋮      ⋮        ⋮          ⋮          ⋮   ⋱
 258 │       3984       1  F1      35500  1012        0.0           0.0      1
 259 │       3985       1  F1      35500  1015        0.0           0.0      1 ⋯
 260 │       3986       1  F1      35500  1018        0.0           0.0      1
 261 │       3987       1  F1      35500  1028        0.0           0.0      1
 262 │       4030       4  F1      35500  1069        0.0           0.0      1
 263 │       4033       4  F1      35500  1104        0.0           0.0      1 ⋯
 264 │       4034       5  F1      35500  1112        0.0           0.0      1
 265 │       4035       5  F1      35500  1113        0.0           0.0      1
 266 │       4040       5  F1      35500  1117        0.0           0.0      1
 267 │       4092       4  F1      35500  1167        0.0           0.0      1 ⋯
                                                 14 columns and 246 rows omitted